@import "../common.scss";
@import "../../sass/components/navbar.scss";

body {
  background: #050505;
  // $size: 40px;
  // $dotSize: 10%;
  // // background-color: grey;
  // background-image: radial-gradient(#222 $dotSize, transparent 0),
  //   radial-gradient(#222 $dotSize, transparent 0);
  // background-size: $size $size;
  // background-position: 0 0, ($size / 2) ($size / 2);
  // font-family: "Product Sans";
}

.heading {
  // font-family: roboto;
  padding: 1rem 4rem;
  h1 {
    font-size: 5rem;
    font-weight: 400;
    color: #555;
    @include respond(tab-port) {
      margin-top: 10rem;
      margin-bottom: -7rem;
    }
  }
  &::before {
    position: absolute;
    top: 7rem;
    color: #111;
    font-size: 10rem;
    letter-spacing: 2rem;
    content: "About";
    @include respond(tab-port) {
      // display: none;
      font-size: 5rem;
    }
  }
}

h1 {
  font-size: 6rem;
  color: #ffc107;
}
.container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

  @include respond(tab-port) {
    width: 80%;
  }

  p {
    font-size: 2rem;
    text-align: justify;
  }
}

.contact {
  color: white;
  // position: absolute;
  bottom: 0rem;
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto;
  b {
    color: #ff0057;
  }
  div {
    margin: 1rem;
  }
}
