@import "../common.scss";
@import "../../sass/components/navbar.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  font-size: 1.2rem;
  background: #ddd;
}

.data {
  box-shadow: 0 2px 12px 0 #0005;
  padding: 2rem 3rem;
  background: #fff;
  //   width: 75%;
}

input {
  padding: 2rem 3rem;
  outline: none;
  border: none;
  box-shadow: 0 2px 12px 0 #0005;
  font-size: 2rem;
}
