@import "../common";

.container {
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.e404 {
  color: white;
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-shadow: 182px 368px 10px #fff, -106px -93px 5px #fff,
    187px -19px 10px #fff, -35px 114px 8px #fff, -10px -300px 9px #fff,
    -250px 29px 7px #fff, 0 0 10px #fff;
}
.desc {
  font-size: 12px;
  line-height: 35px;
  letter-spacing: 2.46px;
}
a {
  color: white;
}
