@import "../common.scss";

body {
  background: #fff;
}
.container {
  width: 75%;
  margin: auto;
  padding: 2rem;

  @include respond(tab-port) {
    width: 100%;
  }
}

.header {
  h1 {
    font-size: 6rem;
    font-weight: 100;
  }
}

.card {
  cursor: pointer;
  &:hover {
    background: #eef;
  }
}
