@import "../common.scss";
@import "../../sass/components/navbar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
}
body {
  background: black;
}
.heading {
  // font-family: roboto;
  padding: 1rem 4rem;
  h1 {
    font-size: 5rem;
    font-weight: 400;
    color: #555;
    @include respond(tab-port) {
      margin-top: 10rem;
      margin-bottom: -7rem;
    }
  }
  &::before {
    position: absolute;
    top: 7rem;
    color: #111;
    font-size: 10rem;
    letter-spacing: 2rem;
    content: "Gallery";
    @include respond(tab-port) {
      // display: none;
      font-size: 5rem;
    }
  }
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.gallery-con {
  overflow: visible;
}
.gallery {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -9rem;
}
.hex {
  position: absolute;
  outline: none;
  // filter: blur(1px);
  transition: all 0.5s;
  filter: sepia(0.2);
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  // we need square images here
  animation: cursorblink 1s forwards;
}
.hex:hover {
  filter: none;
  background-size: 100%;
  // transform: scale(1.1);
}
.text {
  cursor: default;
  color: rgba(255, 255, 255, 0.5);
  width: 30%;
  height: auto;
  padding: 0.5rem 0 0.5rem 4rem;
  position: absolute;
  top: 7rem;
}
.text p {
  width: fit-content;
  position: relative;

  font-family: monospace;
  font-size: 20px;
}

@keyframes cursorblink {
  0% {
    opacity: 0;
    // background-size: 300%;
  }
  100% {
    opacity: 1;
    // background-size: 150%;
  }
}

.allimages{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/*display: none;*/
}
.image{
  display: none;
	width: 500px;
	height: 400px;
	margin: 60px 25px;
	border: 7px solid #ffffff50;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	background-color: #08aeea50;
	background-image:url(../../img/images.jpeg);
	background-size: cover;
	background-position: top 1px center;
	animation: animate 8s ease-in-out infinite 1s;
	
}
@keyframes animate{
	0%{
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
	50%{
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}
	100%{
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}

}

// @media screen and (mix-width: 400px){
//   .allimages{
//     display: none;
//   }
// }

@media screen and (max-width: 700px){
  .container{
    display: none;
  }
  .image{
    display: block;
  }
}
