@import "../common.scss";
@import "../../sass/components/navbar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
}
body {
  background: black;
}
.heading {
  // font-family: roboto;
  padding: 1rem 4rem;
  h1 {
    font-size: 5rem;
    font-weight: 400;
    color: #555;
    @include respond(tab-port) {
      margin-top: 10rem;
      margin-bottom: -7rem;
    }
  }
  &::before {
    position: absolute;
    top: 7rem;
    color: #111;
    font-size: 10rem;
    letter-spacing: 2rem;
    content: "Gallery";
    @include respond(tab-port) {
      // display: none;
      font-size: 5rem;
    }
  }
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.gallery-con {
  overflow: visible;
}
.gallery {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -9rem;
}
.hex {
  position: absolute;
  outline: none;
  // filter: blur(1px);
  transition: all 0.5s;
  filter: sepia(0.5);
}
.hex:hover {
  filter: none;
}
.text {
  cursor: default;
  color: rgba(255, 255, 255, 0.5);
  width: 30%;
  height: auto;
  padding: 0.5rem 0 0.5rem 4rem;
  position: absolute;
  top: 7rem;
}
.text p {
  width: fit-content;
  position: relative;

  font-family: monospace;
  font-size: 20px;
}

@keyframes cursorblink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
