@import '../common';

body{
    background: url('../../img/bg.jpg');
}
.heading{
    width: 100vw;
    height: 100vh;
    @extend .middle;
    font-size: 12rem;
    color: #fff;
    text-align: center;
    span{
        display: inline-block;
    }    
}