@import "../common";
@import "../../sass/components/navbar.scss";

:root {
  font-size: 14px;
  font-family: roboto;
}
.menu-toggle {
  // filter: invert(1);
  right: 3rem;
  top: 3rem;
  @include respond(tab-port) {
    top: 2rem;
  }
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: linear-gradient(-45deg, #eee 50%, white);
  background: url("../../img/bg-hills.jpg");
  background-size: cover;
  position: relative;

  @include respond(tab-port) {
    height: auto;
    min-height: 100vh;
  }
}

.blur {
  position: absolute;
  height: 100%;
  width: 100vw;
  background: #0007;
  backdrop-filter: blur(5px);
}

.container {
  height: 80vh;
  width: 80vw;
  opacity: 0.95;
  margin-top: 3rem;
  // background: #fff;
  display: grid;
  grid-template-columns: 4fr 5fr;
  // grid-template-areas: "img form";
  grid-template-areas: "img img"; // Registration NOT Available
  // box-shadow: 9px 9px 16px #0003;

  @include respond(tab-port) {
    margin-top: 0;
    width: 95vw;
    height: auto;
    // min-height: 100%;
    margin: 1rem auto;
    // grid-template-areas: "form form";
    grid-template-areas: "img img";
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: img;
    color: white;
    // background: url("../../img/bg-hills.jpg");
    // background: #2a0029;
    background-size: cover;
    position: relative;

    .nim-name {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
      font-weight: bold;
      font-style: italic;
      padding: 2rem 4rem;
      text-align: center;
    }
    .contact {
      font-size: 0.8rem;
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
      display: none;
    }
  }
  .form-container {
    grid-area: form;
    // display: flex;
    display: none; // DISABLED
    flex-direction: column;
    justify-content: center;
    background: #fff;
    position: relative;
    overflow-x: hidden;

    @include respond(tab-port) {
      justify-content: flex-start;
    }

    .btn-primary {
      background-color: #4f002c;
      border-color: #2a0029;
      font-weight: bold;
      margin-left: 0.2rem;
    }
    .btn-link {
      color: #2a0029;
      margin-left: 2rem;
      font-size: 1.1rem;
      width: 10rem;
    }

    .form-heading {
      // grid-area: head;
      display: flex;
      justify-content: left;
      align-items: center;
      h1 {
        font-weight: 100;
        font-size: 3rem;
        @include respond(tab-port) {
          font-size: 2rem;
          margin-top: 3rem;
        }
      }
    }
    label {
      font-weight: bold;
    }
    .register-form {
      @include respond(tab-port) {
        padding: 1.5rem !important;
      }

      .form-control {
        font-family: roboto;
      }

      label[for="hostel_acc"] {
        width: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        // display: none;
      }
      .hostel_desc {
        font-size: 1rem;
        color: #6c757d;
      }
      .card {
        font-family: roboto;
      }
      .card-title {
        font-family: roboto;
        font-weight: 600;
        font-size: 1.2rem;
      }
      .chk_circle {
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        border: 2px solid #00aeff99;
        // top: 50%;
        top: 1.25rem;
        right: 1.25rem;
        border-radius: 50%;
        // transform: translate(0, -50%);
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
          content: "";
          height: 1.4rem;
          width: 1.4rem;
          background: #00aeffbb;
          box-shadow: 0 0 10px 2px #00aeff55;
          border-radius: 50%;
          opacity: 0;
          transition: 0.3s;
        }
      }
      #hostel_acc {
        width: 100%;
        position: relative;
        cursor: pointer;
        display: none;

        & > label > .card::before {
          content: "hello";
          display: inline-block;
        }

        &:hover ~ label .card {
          // border: 2px solid #00aeff99;
          box-shadow: 0 0 5px #00aeff55;
        }
        &:hover ~ .chk_circle::after {
          opacity: 1;
        }
        &:checked ~ label .card {
          border: 2px solid #00aeff99;
          background: #00aeff33;
          position: relative;

          .chk_circle::after {
            opacity: 1;
          }

          &::after {
            content: "you will be redirected to payment gateway to pay $9999 as fees.";
            padding: 0 1.25rem;
            transition: 0.5s;
            font-size: 1rem;
            opacity: 0;
            animation: slide-down 0.3s forwards;
            font-weight: 100;
            color: #6c757d;
          }
        }
      }
    }
  }
}

.response {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  margin: auto;
  font-size: 1rem;
  font-weight: bold;
}
.success {
  color: green;
}
.error {
  color: red;
}

.bar {
  position: absolute;
  height: 0.5rem;
  bottom: 0;
  left: 0;
  // width: 100%;
  width: 0;
  transition: all 0.5s;
  background: #ffbb3d;
}
.red {
  background: red;
}
.green {
  background: green;
}

@keyframes slide-down {
  0% {
    height: 0;
  }
  50% {
    height: 1.5rem;
    opacity: 0;
    transform: translate(0, -1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
