@import "../common.scss";
@import "../../sass/components/navbar.scss";

body {
  background: #000;
}

.heading {
  font-family: "Product Sans", roboto;
  padding: 1rem 4rem;
  h1 {
    font-size: 5rem;
    font-weight: 100;
    color: white;
  }
  &::before {
    position: absolute;
    top: 7rem;
    color: #111;
    font-size: 10rem;
    letter-spacing: 2rem;
    content: "Sponsors";
    @include respond(tab-port) {
      display: none;
    }
  }
}

h1 {
  font-size: 6rem;
}
.container {
  width: 100%;
  // min-height: 60vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  .txt {
    color: #fff;
  }
}

.container {
  width: 100vw;
  margin-top: 5em;
  font-size: 8px;
  // height: 100vh;
  display: grid;
  .class-name {
    font-size: 2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
    margin-bottom: 1em;
    color: #fd7e14;
  }
}

.sponcer-class {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

.sponcer-block {
  max-width: 30em;
  display: grid;
  place-items: center;
  grid-template-rows: 5fr 1fr;
  opacity: 0.9;
  border-radius: 6px;
  margin: 1em 1em 5em 1em;

  img {
    // width: 30em;
    height: 30em;
  }
  p {
    font-size: 2.2em;
    transition: all 0.3s;
    width: 100%;
    padding: 0.5em;
    // background-color: #0f0f0f;
    text-align: center;
    font-family: "Product Sans", "Open Sans", "Roboto", sans-serif;
    font-weight: 600;
  }

  &:hover {
    p {
      background: #1b1b1b;
    }
  }
}

@media screen and(max-width:500px) {
  .class-name {
    text-align: center;
  }
}
