@import "../common.scss";
@import "../../sass/components/navbar.scss";

body {
  background: #000;
}

.heading {
  font-family: "Product Sans", roboto;
  padding: 1rem 4rem;
  h1 {
    font-size: 5rem;
    font-weight: 100;
    color: white;
  }
  &::before {
    position: absolute;
    top: 7rem;
    color: #111;
    font-size: 10rem;
    letter-spacing: 2rem;
    content: "Sponsors";
    @include respond(tab-port) {
      display: none;
    }
  }
}

h1 {
  font-size: 6rem;
}
.container {
  width: 100%;
  // min-height: 60vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

  img {
    // border-radius: 50%;
    width: 100%;
  }
  .txt {
    color: #fff;
  }
}

.container {
  width: 100vw;
  margin-top: 5em;
  // height: 100vh;
  display: grid;
  > p {
    font-size: 2em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
    margin-bottom: 2em;
    color: #fd7e14;
  }
}

.sponcer-class {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sponcer-block {
  max-width: 30em;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.sponcer-block img {
  width: 100%;
}
