@import "../common.scss";
@import "../../sass/components/navbar.scss";

body {
  background: #000;
  $size: 40px;
  $dotSize: 10%;
  // background-color: grey;
  background-image: radial-gradient(#181818 $dotSize, transparent 0),
    radial-gradient(#181818 $dotSize, transparent 0);
  background-size: $size $size;
  background-position: 0 0, ($size / 2) ($size / 2);
}

.heading {
  font-family: "Product Sans", "Open Sans", roboto;
  padding: 1rem 4rem;
  h1 {
    font-size: 5rem;
    font-weight: 100;
    color: white;
  }
  &::before {
    position: absolute;
    top: 7rem;
    color: #111;
    font-size: 10rem;
    letter-spacing: 2rem;
    content: "Nimbus 2k21";
    @include respond(tab-port) {
      display: none;
    }
  }
}

h1 {
  font-size: 6rem;
}
.main-container {
  width: 100%;
  // min-height: 60vh;
  font-size: 8px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

  .txt {
    color: #fff;
  }
}

.main-container {
  margin-bottom: 10%;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.card {
  margin: 2em 3%;
}
.card:hover {
  // transform: scale(1.1);
  transition: 500ms;
}
.img-wrapper {
  position: relative;
  overflow: hidden;
  min-width: 10em;
  width: 30em;
  height: 40em;
  max-height: 70em;
  border: 2px solid #fda014;
}
h2 {
  color: #fd7e14;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
  margin-top: 5%;
  font-size: 3.5em;
}

.img-wrapper:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

.img-wrapper:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.4s, 0.4s, 0.2s;
  transition-timing-function: ease;
}

.img-wrapper:active:after {
  opacity: 0;
}

.img-wrapper img {
  filter: grayscale(100%);
  overflow: hidden;
  transform: scale(1.05);
  transition: 500ms;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-wrapper:hover img {
  filter: grayscale(0%);
}
.card .desc {
  font-size: 1em;
  margin: 1em 0;
  text-align: center;
  // background: #000;

  .name {
    font-weight: bold;
    color: #ff9800;
    font-size: 2em;
  }
  .desg {
    font-size: 1.5em;
  }
  .contact {
    color: gray;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 800px) {
  .container {
    display: block;
    width: 80%;
    margin: auto;
  }
  .card {
    margin: 10%;
  }
  .img-wrapper img {
    width: 100%;
  }
}
