@import "../../Styles/common.scss";

.events-page {
  background: #151515;
  .heading {
    &::before {
      position: absolute;
      z-index: 0;
      top: 7rem;
      color: #111;
      font-size: 10rem;
      letter-spacing: 2rem;
      content: "";
      @include respond(tab-port) {
        display: none;
      }
    }
  }

  .events {
    display: flex;
    flex-wrap: wrap;
  }
}
