.event-details {
  background: none;
  .ctrl {
    justify-content: flex-start;
    align-items: center;
  }

  .event-form {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  .event-data {
    padding: 3rem;
    color: #fff;
  }

  .event-name {
    font-size: 3.2rem;
    font-weight: 600;
    padding: 0.5rem;
  }

  .event-description {
    font-size: 1.4rem;
    white-space: pre-wrap;
    font-family: inherit;
    color: #ababab;
    margin: 2rem 0;
  }

  .meta {
    display: flex;
    align-items: center;
    color: coral;
    font-size: 1.1em;
    margin: 0.5em 0;
    // padding: 0.8em 0.8em;
    font-family: monospace;

    .type {
      color: #fbff00;
      background: #fbff0022;
      border-radius: 1em;
      padding: 0.3em 0.5em;
      margin-right: 2em;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
  }

  .btn {
    color: white;
    padding: 1em 2em;
  }
  a {
    color: inherit;
  }

  .abstract {
    .btn {
      text-decoration: underline;
      width: fit-content;
      background: transparent;
      color: #fbff00;
      font-size: 1.1em;
      padding: 0 0;
    }
  }
  .register {
    font-weight: bold;
    font-size: 1.4em;
    padding: 0.5em 0.5em;
    color: #000;
    background: #fbff00;
    margin: auto;
    letter-spacing: 0.2em;
    font-family: monospace;

    &:hover {
      background: #fbff00;
      color: #333;
    }
  }

  .event-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  .event-pic img {
    width: 40rem;
    // height: 40rem;
  }

  .other-data {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }

  .event-timing {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .start {
    color: #a6ffcb;
    // background: #a6ffcb22;
    padding: 0.3em 0.5em;
    width: 11rem;
    border-radius: 3px;
  }
  .end {
    color: #ed4264;
    // background: #ed426422;
    padding: 0.3em 0.5em;
    width: 11rem;
    border-radius: 3px;
  }
  .date {
    display: flex;
  }
  .time {
    color: #aaa;
    padding: 0;
    display: block;
  }

  .to {
    display: inline-block;
    padding: 0 0.5em;
  }

  .event-venue {
    display: flex;
    align-items: center;
  }
  .event-venue p {
    color: #4bc6ff;
    font-size: 1.5rem;
    text-align: left;
  }
}
